# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Backup files
*~
*.bak
*.swp
*.tmp

# Logs
*.log

# Zip archives
*.zip

# System files
.DS_Store
Thumbs.db

# Virtual environments
venv/
env/

# IDE configs
.vscode/
.idea/

# Optional: files generated during test runs
.coverage
htmlcov/
.tox/
pytest_cache/
